USE [TranHuuHoang_2110900053_db]
GO
/****** Object:  Table [dbo].[TranHuuHoang_2110900053_Product]    Script Date: 2/23/2024 11:14:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TranHuuHoang_2110900053_Product](
	[MaSP_2110900053] [varchar](10) NOT NULL,
	[TenSP_2110900053] [nvarchar](50) NULL,
	[SoLuong_2110900053] [int] NULL,
	[DonGia_2110900053] [float] NULL,
	[Anh_2110900053] [varchar](100) NULL,
 CONSTRAINT [PK_TranHuuHoang_2110900053_Product] PRIMARY KEY CLUSTERED 
(
	[MaSP_2110900053] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TranHuuHoang_2110900053_Product] ([MaSP_2110900053], [TenSP_2110900053], [SoLuong_2110900053], [DonGia_2110900053], [Anh_2110900053]) VALUES (N'1', N'1', 1, 1, N'anh1.jfif')
INSERT [dbo].[TranHuuHoang_2110900053_Product] ([MaSP_2110900053], [TenSP_2110900053], [SoLuong_2110900053], [DonGia_2110900053], [Anh_2110900053]) VALUES (N'2', N'2', 2, 2222, N'anh3.jfif')
INSERT [dbo].[TranHuuHoang_2110900053_Product] ([MaSP_2110900053], [TenSP_2110900053], [SoLuong_2110900053], [DonGia_2110900053], [Anh_2110900053]) VALUES (N'2110900053', N'Trần Hữu Hoàng', 12, 1000, N'anh2.jfif')
GO
