<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnTap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>hoang.servlet.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/EmployeeListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeCreateServlet</display-name>
    <servlet-name>EmployeeCreateServlet</servlet-name>
    <servlet-class>hoang.servlet.EmployeeCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeCreateServlet</servlet-name>
    <url-pattern>/EmployeeCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeEditServlet</display-name>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <servlet-class>hoang.servlet.EmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <url-pattern>/EmployeeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDeleteServlet</display-name>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <servlet-class>hoang.servlet.EmployeeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDeleteServlet</servlet-name>
    <url-pattern>/EmployeeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentListServlet</display-name>
    <servlet-name>DepartmentListServlet</servlet-name>
    <servlet-class>hoang.servlet.DepartmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentListServlet</servlet-name>
    <url-pattern>/DepartmentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentCreateServlet</display-name>
    <servlet-name>DepartmentCreateServlet</servlet-name>
    <servlet-class>hoang.servlet.DepartmentCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentCreateServlet</servlet-name>
    <url-pattern>/DepartmentCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentEditServlet</display-name>
    <servlet-name>DepartmentEditServlet</servlet-name>
    <servlet-class>hoang.servlet.DepartmentEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentEditServlet</servlet-name>
    <url-pattern>/DepartmentEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentDeleteServlet</display-name>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <servlet-class>hoang.servlet.DepartmentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentDeleteServlet</servlet-name>
    <url-pattern>/DepartmentDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>