<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnTap2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryListServlet</display-name>
    <servlet-name>CategoryListServlet</servlet-name>
    <servlet-class>hoang.servlet.CategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryListServlet</servlet-name>
    <url-pattern>/CategoryListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryCreateServlet</display-name>
    <servlet-name>CategoryCreateServlet</servlet-name>
    <servlet-class>hoang.servlet.CategoryCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryCreateServlet</servlet-name>
    <url-pattern>/CategoryCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryEditServlet</display-name>
    <servlet-name>CategoryEditServlet</servlet-name>
    <servlet-class>hoang.servlet.CategoryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEditServlet</servlet-name>
    <url-pattern>/CategoryEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryDeleteServlet</display-name>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <servlet-class>hoang.servlet.CategoryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryDeleteServlet</servlet-name>
    <url-pattern>/CategoryDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>