<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TranHuuHoang_ProductListServlet</display-name>
    <servlet-name>TranHuuHoang_ProductListServlet</servlet-name>
    <servlet-class>tranhuuhoang.servlet.TranHuuHoang_ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranHuuHoang_ProductListServlet</servlet-name>
    <url-pattern>/TranHuuHoang_ProductListServlet</url-pattern>
  </servlet-mapping>
  <display-name>TranHuuHoang_2110900053</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TranHuuHoang_ProductCreateServlet</display-name>
    <servlet-name>TranHuuHoang_ProductCreateServlet</servlet-name>
    <servlet-class>tranhuuhoang.servlet.TranHuuHoang_ProductCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranHuuHoang_ProductCreateServlet</servlet-name>
    <url-pattern>/TranHuuHoang_ProductCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TranHuuHoang_ProductEditServlet</display-name>
    <servlet-name>TranHuuHoang_ProductEditServlet</servlet-name>
    <servlet-class>tranhuuhoang.servlet.TranHuuHoang_ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranHuuHoang_ProductEditServlet</servlet-name>
    <url-pattern>/TranHuuHoang_ProductEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TranHuuHoang_ProductDeleteServlet</display-name>
    <servlet-name>TranHuuHoang_ProductDeleteServlet</servlet-name>
    <servlet-class>tranhuuhoang.servlet.TranHuuHoang_ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranHuuHoang_ProductDeleteServlet</servlet-name>
    <url-pattern>/TranHuuHoang_ProductDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>