<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lab04JspServletJDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>hoang.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productListServlet</display-name>
    <servlet-name>productListServlet</servlet-name>
    <servlet-class>hoang.servlet.productListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productListServlet</servlet-name>
    <url-pattern>/productListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productEditServlet</display-name>
    <servlet-name>productEditServlet</servlet-name>
    <servlet-class>hoang.servlet.productEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productEditServlet</servlet-name>
    <url-pattern>/productEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productCreateServlet</display-name>
    <servlet-name>productCreateServlet</servlet-name>
    <servlet-class>hoang.servlet.productCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productCreateServlet</servlet-name>
    <url-pattern>/productCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productDeleteServlet</display-name>
    <servlet-name>productDeleteServlet</servlet-name>
    <servlet-class>hoang.servlet.productDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productDeleteServlet</servlet-name>
    <url-pattern>/productDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>